//*-----------------------------------------------
//|   Theme Form Label Style
//-----------------------------------------------*/
.form-label {
    font-size: $font-size-small;
    margin-bottom: $form-label-margin-bottom;
    color: $form-label-color;
}
