//
// Form  Select style
//
.form-select {
    font-size: $form-select-font-size;
    color: $form-select-color;
    font-weight: $form-select-weight;
    background-color: $form-select-bgcolor;
    border: 1px solid $grey;
    padding: 4px;
}
