@import "./main.scss";

.page-360-v2 {
  .page-360-header-v2 {
    background-color: #f4fbfe;
    padding: 6px 0px;
    border-bottom: 1px solid #d4d5d7;
    height: auto;
    display: flex;
    align-items: center;
    height: 62px;
    .header-inside {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .profile-div {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        span.back-btn {
          font-size: 20px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .image-data {
          background-color: rgb(253, 227, 207);
          color: rgb(245, 106, 0);
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
          height: 50px;
          width: 50px;
          position: relative;
          font-family: $themefont;
          font-weight: 600;
          font-size: 18px;
        }
        .name-data {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
          gap: 8px;
          h4 {
            font-family: $themefont;
            font-weight: 600;
            font-size: 16px;
            margin: 0px;
            line-height: 1;
            color: #000;
            span {
              font-weight: 500;
              font-size: 13px;
              color: #666;
            }
          }
          p {
            font-family: $themefont;
            font-weight: 500;
            font-size: 14px;
            margin: 0px;
            display: flex;
            align-items: center;
            gap: 8px;
            line-height: 1;
            color: #666;
            span {
              cursor: pointer;
              //   color: rgb(245, 106, 0);
              color: #576c7d;
              width: 20px;
              height: 20px;
              display: flex;
              align-items: center;
              justify-content: center;
              svg {
                font-size: 18px;
              }
            }
          }
        }
      }
      .action-btn {
        display: flex;
        align-items: center;
        gap: 15px;
        button {
          cursor: pointer;
          position: relative;
          z-index: 2;
          overflow: hidden;
          vertical-align: middle;
          display: flex;
          align-items: center;
          gap: 5px;
          border: none;
          text-transform: capitalize;
          text-align: center;
          background-color: transparent;
          color: #fff;
          font-family: $themefont;
          font-size: 13px;
          font-weight: 500;
          padding: 6px 12px;
          line-height: inherit;
          border-radius: 5px;
          -webkit-transition:
            background-color 0.25s linear,
            color 0.4s ease-in-out;
          transition:
            background-color 0.25s linear,
            color 0.4s ease-in-out;
          text-decoration: none;
          margin: 0px 0px 0px 0px;

          &:before {
            content: "";
            position: absolute;
            height: 100%;
            bottom: 0;
            left: 0;
            width: 0;
            background-color: #5c636a;
            z-index: -1;
            -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
            border-radius: inherit;
          }
          &:hover {
            color: #fff;
            background-color: #5c636a;
          }
          &:hover::before {
            width: 100%;
          }
          svg {
            font-size: 17px;
          }
          &.sendmail {
            background-color: $ArcPrimaryColor;
            color: #fff;
          }
          &.edit {
            background-color: #527fa5;
            color: #fff;
          }
          &.more-action {
            color: #000;
            background: rgb(255, 255, 255);
            background: linear-gradient(
              180deg,
              rgb(245, 245, 245) 0%,
              rgb(222, 224, 224) 100%
            );
            box-shadow:
              rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
              rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

            &:before {
              background-color: #5c636a;
            }
            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
  }
  .page-360-detail-v2 {
    background-color: #ebeff3;
    padding: 12px 0px;
    display: flex;
    .details-tab {
      display: flex;
      gap: 12px;
      ul.nav.nav-tabs {
        height: calc(100vh - (55px + 62px + 24px));
        width: 250px;
        border-radius: 5px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;
        padding: 12px;
        border: 1px solid #ddd;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        overflow: auto;
        overflow-y: scroll;
        flex-wrap: nowrap;
        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          background-color: #f5f5f5;
          border-radius: 10px;
          display: none;
        }
        &::-webkit-scrollbar {
          width: 0px;
          background-color: #f5f5f5;
          display: none;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #a3a3a3;
          border-radius: 10px;
          display: none;
        }
        li.nav-item {
          width: 100%;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          transition: all 0.3s ease;
          button {
            border-radius: 0px;
            width: calc(100% - 17px);
            border: none;
            outline: none;
            text-align: left;
            box-shadow: none;
            padding: 6px;
            background-color: transparent;
            color: #576c7d;
            font-family: $themefont;
            font-size: 15px;
            font-weight: 600;
            border-left: 3px solid $ArcPrimaryColor;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 5px;
            position: relative;
            transition: none;
            svg {
              font-size: 18px;
            }
            &:hover {
              background-color: #f4fbfe;
              &:before {
                content: "";
                position: absolute;
                right: -17px;
                bottom: 0;
                width: 0;
                height: 0;
                border-left: 17.5px solid #f4fbfe;
                border-top: 17.5px solid transparent;
                border-bottom: 17.5px solid transparent;
              }
            }
            &.active {
              background-color: #f4fbfe;
              border-left: 3px solid $ArcPrimaryColor;
              &:before {
                content: "";
                position: absolute;
                right: -17px;
                bottom: 0;
                width: 0;
                height: 0;
                border-left: 17.5px solid #f4fbfe;
                border-top: 17.5px solid transparent;
                border-bottom: 17.5px solid transparent;
              }
            }
          }
        }
      }
      .tab-content {
        padding: 0px;
        border-radius: 5px;
        height: calc(100vh - (55px + 62px + 24px));
        width: calc(100% - (250px + 12px));
        background-color: #fff;
        border: 1px solid #ddd;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        overflow: auto;
        overflow-y: scroll;
        .tab-pane {
          .tab-main-content {
            // height: calc(100vh - (55px + 62px + 24px));
            padding: 12px;
            // border-radius: 5px;
            // background-color: #fff;
            // border: 1px solid #ddd;
            // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            margin-top: 12px;
            &:first-child {
              margin-top: 0px;
            }
            h4.tab-title {
              font-family: $themefont;
              font-weight: 600;
              font-size: 16px;
              margin: 0px 0px 15px 0px;
              line-height: 1;
              color: #000;
            }
            .changed-btns {
              margin-bottom: 20px;
              border-bottom: 1px solid #ddd;
              button {
                border: none;
                outline: none;
                background-color: transparent;
                font-family: $themefont;
                font-size: 14px;
                padding: 0px;
                font-weight: 600;
                padding: 6px 12px;
                border-radius: 0px;
                color: $ArcPrimaryColor;
                border-bottom: 3px solid transparent;
                width: 130px;
                color: #000;
                &.active {
                  border-color: $ArcPrimaryColor;
                  color: $ArcPrimaryColor;
                }
              }
            }
            &.overview {
              .info-table {
                table.table {
                  margin: 0px;
                  //   width: 250px;
                  tbody {
                    tr {
                      td {
                        font-family: $themefont;
                        border: none;
                        padding: 5px;
                        &:first-child {
                          width: 200px;
                          padding-left: 0px;
                          font-size: 14px;
                          font-weight: 500;
                          color: #333;
                        }
                        &:last-child {
                          padding-right: 0px;
                          font-size: 14px;
                          font-weight: 500;
                        }
                        a {
                          text-decoration: none;
                          display: flex;
                          gap: 5px;
                          align-items: center;
                          span {
                            background-color: rgb(253, 227, 207);
                            color: rgb(245, 106, 0);
                            width: 20px;
                            height: 20px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            &.notes {
              .input-control {
                label {
                  margin: 0px 0px 5px 0px;
                  font-family: $themefont;
                  font-size: 13px;
                  font-weight: 600;
                  line-height: normal;
                }
                textarea {
                  font-size: 13px;
                  font-weight: 500;
                  box-shadow: none;
                  border-radius: 0px;
                  border-color: #ddd;
                  background-color: #fbf7e4;
                }
                .group-btn {
                  padding: 15px 0px;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: flex-start;
                  gap: 15px;
                  height: 65px;
                  button {
                    border: none;
                    outline: none;
                    font-family: $themefont;
                    font-size: 14px;
                    font-weight: 500;
                    background-color: $ArcPrimaryColor;
                    padding: 4px 12px;
                    border-radius: 2px;
                    color: #fff;
                    width: 100px;
                    // &:hover {
                    //   color: $ArcPrimaryColor;
                    //   border: 1px solid $ArcPrimaryColor;
                    //   background-color: transparent;
                    // }
                    &.cancel {
                      background: linear-gradient(180deg, #fff 0, #f5f7f9 100%);
                      color: #333;
                      border: 1px solid #cfd7df;
                    }
                  }
                }
              }
              ul.notes-list {
                margin: 0px;
                padding: 0px;
                list-style-type: none;
                li {
                  padding: 15px 0px;
                  border-bottom: 1px solid #ddd;
                  &:last-child {
                    padding-bottom: 0px;
                    border: none;
                  }
                  p {
                    margin: 0px;
                    font-family: $themefont;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: normal;
                    color: #000;
                    &.name-time {
                      margin-top: 10px;
                      display: flex;
                      align-items: center;
                      gap: 30px;
                      font-size: 13px;
                      span {
                        color: #666;
                        display: block;
                        position: relative;
                        &:first-child {
                          &::after {
                            content: "";
                            position: absolute;
                            top: 50%;
                            right: -18px;
                            transform: translate(0, -50%);
                            width: 7px;
                            height: 7px;
                            border-radius: 50%;
                            background-color: #c5c5c5;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            &.activities {
              background-color: #f5f7f9;
              .activities-list {
                margin-top: 10px;
                ul {
                  position: relative;
                  padding: 0px;
                  margin: 0px;
                  list-style-type: none;
                  h5 {
                    font-family: $themefont;
                    font-size: 16px;
                    color: #000;
                    font-weight: 600;
                    margin: 0px 0px 30px 0px;
                  }
                  li {
                    display: flex;
                    gap: 30px;
                    margin-bottom: 40px;
                    position: relative;
                    &::after {
                      height: calc(100% + 40px);
                      width: 2px;
                      content: "";
                      background-color: #cfd7df;
                      position: absolute;
                      top: 5px;
                      left: 19px;
                    }
                    &:last-child {
                      // margin: 0px;
                      &::after {
                        display: none;
                      }
                    }
                    span.tag-icon {
                      background-color: #ebeff3;
                      width: 40px;
                      height: 40px;
                      border-radius: 50%;
                      transition: all 150ms linear;
                      font-size: 20px;
                      border: 1px solid #cfd7df;
                      color: #333;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      z-index: 1;
                      svg {
                        font-size: 20px;
                      }
                    }
                    .activities-box {
                      width: calc(100% - (30px + 40px));
                      background-color: #fff;
                      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                      padding: 15px;
                      border-radius: 5px;
                      p {
                        margin: 0px 0px 5px 0px;
                        font-family: $themefont;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: normal;
                        color: #000;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 30px;
                        span {
                          position: relative;
                          font-weight: 500;
                          display: flex;
                          align-items: center;
                          gap: 5px;
                          &::before {
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: -18px;
                            transform: translate(0, -50%);
                            width: 7px;
                            height: 7px;
                            border-radius: 50%;
                            background-color: #c5c5c5;
                          }
                          svg {
                          }
                        }
                      }
                      span {
                        font-family: $themefont;
                        font-size: 13px;
                        font-weight: 500;
                        line-height: normal;
                        color: #000;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
