@font-face {
  font-family: "Salesforce Sans";
  src: url("./fonts/SalesforceSansThin.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Salesforce Sans";
  src: url("./fonts/SalesforceSansLight.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Salesforce Sans";
  src: url("./fonts/SalesforceSansRegular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Salesforce Sans";
  src: url("./fonts/SalesforceSansRegular.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Salesforce Sans";
  src: url("./fonts/SalesforceSansSemibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Salesforce Sans";
  src: url("./fonts/SalesforceSansBold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: oblique;
}
@font-face {
  font-family: "Salesforce Sans";
  src: url("./fonts/SalesforceSans-Bold-700.ttf.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
  font-style: oblique;
}

$Salesforce: ("Salesforce Sans", sans-serif);
